@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: black;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1%;
  justify-content: space-between ;
}

.warp_menu_icon{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  gap: 15px;
}

.menu_icon {
  display: flex;
  align-items: center;
  width: auto;
  height: fit-content;
  margin-left: 1%;
  cursor: pointer;
  padding: 10px;
}

.menu_icon:hover {
  background-color: rgb(44, 44, 44);
  border-radius: 40px;
}

.icon {
  color: white;
}

.youtube_icon {
  margin-right: 1px;
  height: fit-content;
  color: red;
}

.youtube_name {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 22.5px;
  cursor: pointer;
}

.language {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
  margin-top: -5px;
  margin-left: 2px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  z-index: 1;
  width: 32.5vw;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(212, 212, 212);
  border: 1px solid rgb(44, 44, 44);
  background-color: black;
  padding: 9px;
  padding-left: 10px;
  border-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  &:focus{
    outline: none;
    border: 1px solid rgb(32, 86, 156);
  }
}

.search_input::placeholder {
 font-size: 16px;
}

.search_icon {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  color: white;
  background-color: rgb(36, 36, 36);
  padding: 6px ;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}

.microphone_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: 15px;
  background-color: rgb(44, 44, 44);
  border-radius: 40px;
}

.microphone_icon:hover{
  background-color: rgb(61, 61, 61);
  border-radius: 40px;
}

.create_notification_profile {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: bold;
  gap: 5px;
  padding: 7.5px;
  padding-left: 8.5px;
  cursor: pointer;
}

.create:hover{
  background-color: rgb(44, 44, 44);
  border-radius: 40px;
}

.create .plus{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  padding-right: 11.5px;
  margin-left: -24.5px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  padding: 7.5px;
  cursor: pointer;
}

.notification:hover {
  background-color: rgb(44, 44, 44);
  border-radius: 40px;
}

.notification_icon {
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 7.5px;
  cursor: pointer;
  padding-left: 8.5px;
  padding-right: 8.5px;
  margin-right: 20px;
}

.profile:hover{
  background-color: rgb(44, 44, 44);
  border-radius: 40px;
}

.menu-left {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(212, 212, 212);
}